[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
pillow = "==9.2.0"
django-tables2 = "==2.4.1"
django-crispy-forms = "==1.14.0"
python-dotenv = "==0.21.0"
psycopg2-binary = "==2.9.5"
dj-database-url = "==1.2.0"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.10"
